.BlogDetailMain{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
    background-color: #587C9E;
    padding: 2em;
    width: 80%;
    justify-self: center;
    border-radius: .6em;
    color:white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.BlogDetailThumbnail{
    width: 60em;
    height: 38em;
    border-radius: .4em;
}


.BlogDetailUserImage{
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    object-fit: cover;
}


.BlogDetailUserInfo{
    display: flex;
    align-items: center;
    gap: 28em;
    margin-bottom: 1.5em;
    margin-top: 1em;

    .BlogDetailUser1{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2em;

        img{
            cursor: pointer;
        }

        a{
            font-size: .90em;
            font-style: italic;
            font-weight: 500;
            color : white;
            text-decoration: none;
            transition: all .35s ease-in-out;
        }
        a:hover{
            color: #f8f9fa; /* Slightly brighter white */
            text-decoration: underline;
            text-decoration-color: rgba(255, 255, 255, 0.7);
            text-underline-offset: 3px; /* Space between text and underline */
            transform: scale(1.1);
        }
    }


    .BlogDetailUser2{
        display: flex;
        gap: .7em;
        align-items: center;
        flex-direction: column;
        
        span{
            margin-top: 1em;
            font-size: .87em;
            font-style: italic;
            font-weight: 500;
        }

        ul{
            display: flex;
            gap: 1em;
            list-style: none;
            color: #211C84;
            font-weight: 600;
            font-size: .87em;
            margin-top: 0em;
            padding-left: 0em;
        }

    }
}


.BlogDetailTitle{
    font-size: 2.2em;
    max-width: 68%;
    text-align: center;
}

.BlogDetailContent{
 /* text-align: center; */
 max-width: 85%;   
 margin-right: 2em;
}

.BlogDetailCommentButtons{
    display: flex;
    gap: 5em;
    margin-top: 3em;
    justify-content: center;
    align-items: center;
}

.BlogDetailCommentButtonFirst{
    color: white;
    padding: .7em 1.6em;
    border-radius: .25em;
    background-color: black;
    cursor: pointer;
    transition: all .2s ease-out;    
    font-size: 1.1em;
    border: none;
}

.BlogDetailCommentButtonFirst:hover{
    box-shadow: 4px 4px 0 #587C9E;
    transform: translateY(-5px);
}


.BlogDetailDots{
    width: 2.5em;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.BlogDetailDots:hover{
    transform: scale(1.1);
}

.BlogDetailAdminOptions{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    margin-top: .4em;
    z-index: 1;
    background: #ccc;
    padding: 1em;
    border-radius: .5em;
    width: 5em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    button{
        cursor: pointer;
        transition: all .3s ease-in-out;
        padding: .5em 1em;
        border-radius: .5em;
        border: none;
        background-color: #F5F7F8;
        font-size: .9em;
    }

    button:hover{
        transform: scale(1.1);
        padding: .5em 1.1em;
    }

}

.BlogDetailAdmin{
    position: absolute;
    top: 3em;
    right: 1.7em;
    z-index: 2
}

.BlogDetailAdminOptions{
    position: absolute;
    right: .5em;
    top: 100%;
}


.BlogDetailCommentButtonsArticle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #e1e5f2;
    padding: .6em 2.8em;
    border-radius: .5em;
    transition: all .4s ease-in-out;
    cursor: pointer;
    border: 1px solid black;
    
    img{
        width: 1.6em;
    }

    span{
        font-size: 1.2em;
        color: black
    }

}

.BlogDetailCommentButtonsArticle:hover{
    box-shadow: 4px 4px 0 #587C9E;
    transform: translateY(-5px);
    background-color: #f8f9fa;
}


.BlogDetailCommentButtonsArticleNoUser{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #e1e5f2;
    padding: .6em 2.8em;
    border-radius: .5em;
    transition: all .4s ease-in-out;
    border: 1px solid black;
    
    img{
        width: 1.6em;
    }

    span{
        font-size: 1.2em;
        color: black
    }
}


.BlogDetailTags{
    li{
        max-width: 4.4em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}