.ForgetPasswordContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); /* this blurs the background */
    z-index: 1000; /* make sure it's on top */
}

.ForgetPassword {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 37em;
    position: relative;
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.6em;

    h1{
        margin-bottom: .1rem;
        font-size: 1.5rem;
        color: #333;
    }

    p{
        margin-bottom: 2.5rem;
        font-size: 1rem;
        color: #666;
        text-align: center;
    }




}

#ForgetPasswordClose {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
}

#ForgetPasswordClose:hover {
    transform: scale(1.15);
    color: red;
}


.ForgetPasswordSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;

    input{
        width: 12em;
        border-radius: .3em;
        font-size: .9em;
        padding: .5em .8em;
        border: 1px solid #000;
    }

    .ForgetPasswordButton{
        text-decoration: none;
        color: white;
        padding: .5em 1em !important; 
        border-radius: .3em;
        background-color: black !important;
        cursor: pointer;
        transition: all .3s ease-in-out !important;
        font-size: 1.05em !important;
        width: 9em;
        border: none;
    }

    .ForgetPasswordButton:hover{
        transform: translateY(-5px);
    }

}


#ForgetPasswordValidEmail{
    color: #D11A2A; 
    font-size: .9em;
    font-style: italic;
    margin-top: 1em;
    position: absolute;
    bottom: -1.4em;
    left: 7.5em;
}

.ForgetPasswordSpan{
    color: black;
    font-size: .8em;
    font-style: italic;
    margin-top: 1em;
    position: absolute;
    top: 9.5em;
    left: 9.5em;
}


.SendEmailAuthForm{
    position: absolute;
    right: 14em;
    color: black;
    font-size: 1.3em !important;
    font-style: italic;   
    width: 16em;
    background-color: green;
    color: white;
    padding: 2em;
    border-radius: .4em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-weight: 600 !important;
}


.SendEmailProfilePage{
    position: absolute;
    color: black;
    font-size: 1.3em !important;
    font-style: italic;   
    width: 16em;
    background-color: green;
    color: white;
    padding: 2em;
    border-radius: .4em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-weight: 600 !important;
}

