.ProfilePageComponent{
    display: flex;
    background-color: #587C9E;
    border-radius: 1em;
    padding: 2em;
    margin-top: 2em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    justify-content: space-evenly;    
    color: white;


    .ProfilePageAccountManagment{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 2.5em;
        
        img{
            width: 15em;
            height: 15em;
            border-radius: 50%;
            cursor: pointer;
            object-fit: cover;
            object-position: center;
        }

        img:hover{
            box-shadow: 0 0 15px white;
            transition: 0.3s;
        }
    

        .ProfilePageComponentLabelPassword{
            margin-bottom: 0em;
            margin-top: 2.5em;
            font-size: .9em;
            padding-left: 1em;
            font-weight: 600;
            font-style: italic;    
        }


        .ProfilePageComponentButton {
            margin-top: 1.7em;
            border-radius: .3em;
            padding: .7em 1.5em;
            color: white;
            background-color: black;
            border: 1px solid #000;
            cursor: pointer;
            font-size: 1.05em;
            line-height: 1.5;
            transition: all .2s ease-out;
        }

        .ProfilePageComponentButton:hover {
            box-shadow: 4px 4px 0 #587C9E;
            transform: translateY(-4px);
        }


        .ProfilePageComponentButton:focus-visible{
            outline-offset: 1px;
        }

        .ProfilePageComponentGreeting{
            font-weight: 600;
            margin-top: 1.5em;
            color: white;    
            font-style: italic;
            font-size: 1.1em;
        }
    


    }

    main{
        padding-right: 4em;
        padding-left: 4em;
        max-width: 35%; 
        border-left: 1px solid #454545;
        border-right: 1px solid #454545;


        .ProfilePageProfileInformation{
            display: flex;
            gap: 4em;
            justify-content: center;
            padding: 0em 2em;

            article{
                
                h5{
                    margin-bottom: .2em;
                    margin-left: 1em;
                    font-style: italic;
                    font-size: 0.9em;
                }

                p{
                    margin-top: .2em;
                    border-radius: .6em;
                    background-color: white;
                    color: black;
                    border: 1px solid #000;
                    padding: .3em 2em; 
                }
            }
        }   

        .ProfilePageh3{
            margin-bottom: 0em;
        }

        .ProfilePageh5{
            margin-top: 1em;
            margin-bottom:.2em;
            margin-left: 1em;
            font-style: italic;
            font-size: .9em;
        }

        .ProfilePagep{
            margin-top: .2em;
            border-radius: .6em;
            background-color: white;
            border: 1px solid #000;
            padding: .3em 2em; 
            margin-bottom: 1.5em;
            color: black
        }

        .ProfilePageBio{
            max-height: 14%;
            overflow: auto
        }
    }


    .ProfilePageAccountSettings{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .ProfilePageAccountSettingsSection{
            display: flex;
            align-items: center; 
            justify-content: center;
            gap: 2em;
        }
    }

}


#ProfilePageLinkEdit{
    text-decoration: none;
    color: white;
    padding: .7em 1.6em;
    border-radius: .3em;
    background-color: black;
    cursor: pointer;
    transition: all .2s ease-out;    
    font-size: 1.05em;
}

#ProfilePageLinkDelete:hover, #ProfilePageLinkEdit:hover{
    box-shadow: 4px 4px 0 #587C9E;
    transform: translateY(-5px);
}

#ProfilePageLinkDelete{
    text-decoration: none;
    color: white;
    padding: .7em 1.6em;
    border-radius: .3em;
    background-color: #D11A2A;
    cursor: pointer;
    transition: all .2s ease-out;
    font-size: 1.05em;
    border: none;
}


.ProfilePageComponentImageFile{
    display: none;
}

.ProfilePageh2{
    text-align: center;
}


#DeleteProfilePicProfile{
    position: absolute;
    top: 22.3%; 
    right: 75.8%;
    cursor: pointer;
    color: black;
    width: 2em;
    height: 2em;
    opacity: 0.9;
    z-index: 2;
}

.ProfilePageComponentImageReadOnly{
    cursor: auto !important;
}

.ProfilePageComponentImageReadOnly:hover{
    box-shadow: none !important;
    transform: none !important;
}


.ProfilePageAccountManagmentReadOnly{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        padding-left: 2em;
        
        img{
            width: 15em;
            height: 15em;
            border-radius: 50%;
            cursor: pointer;
            object-fit: cover;
            object-position: center;
        }

        img:hover{
            box-shadow: 0 0 15px white;
            transition: 0.3s;
        }
    
 
        .ProfilePageComponentPassword{
            margin-top: .5em;
            border-radius: .3em;
            border: none;
            font-size: 1.2em;
        }


        .ProfilePageComponentForm{
            display: flex;
            flex-direction: column;
        }

        .ProfilePageComponentButton {
            margin-top: 1.3em;
            border-radius: .3em;
            padding: .7em 1em;
            color: white;
            background-color: black;
            border: 1px solid #000;
            cursor: pointer;
            font-size: 1.05em;
            line-height: 1.5;
            transition: all .2s ease-out;
        }

        .ProfilePageComponentButton:hover {
            box-shadow: 4px 4px 0 #587C9E;
            transform: translateY(-4px);
        }


        .ProfilePageComponentButton:focus-visible{
            outline-offset: 1px;
        }

        .ProfilePageComponentGreeting{
            font-weight: 600;
            margin-top: 1.5em;
            color: white;    
            font-style: italic;
            font-size: 1.1em;
        }
}

.ProfilePageAccountSettingsReadOnly{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        font-size: 1.4em;
        max-width: 16em;
        text-align: center;
    }

    .ProfilePageAccountSettingsSectionReadOnly{
        display: flex;
        max-width: 21em;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center;
        gap: 2em;
    }

    .ProfilePageLinkReadOnly{
        text-decoration: none;
        color: white;
        padding: .7em 1.2em;
        border-radius: .3em;
        background-color: black;
        cursor: pointer;
        transition: all .35s ease-out;
        font-size: .96em;
    }

    .ProfilePageLinkReadOnly:hover{
        transform: scale(1.05);
    }

}

.ProfilePageComponentGreetingReadOnly{
    font-weight: 500;
    color: white;    
    font-style: italic;
}

