.ProfilePageComponent{
    display: flex;
    background-color: #587C9E;
    border-radius: 2em;
    padding: 2em;
    margin: 2em;
    padding-left: 5em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    max-width: 78%;
    justify-self: center;    

    .ProfilePageAccountManagment{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid #454545;
        padding-right: 2em;

        img{
            width: 12em;
            height: 12em;
            border-radius: 50%;
            cursor: pointer;
        }

        img:hover{
            box-shadow: 0 0 15px #000;
            transition: 0.3s;
        }
    
 
        .ProfilePageComponentPassword{
            margin-top: .2em;
            border-radius: .3em;
            border: none;
            font-size: 1.1em;
        }

        .ProfilePageComponentLabelPassword{
            margin-bottom: 0em;
            margin-top: 2.5em;
            font-size: .8em;
            padding-left: 1em;
            font-weight: 600;
            font-style: italic;    
        }

        .ProfilePageComponentForm{
            display: flex;
            flex-direction: column;
        }


        .ProfilePageComponentButton{
            margin-top: 1em;
            border: none;
            border-radius: .4em;
            padding: .5em 1em;
        }


        .ProfilePageComponentButton {outline: 0;
        grid-gap: 8px;
        background-color: #AFDDFF;
        align-items: center;
        border: 1px solid #000;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        gap: 8px;
        justify-content: center;
        line-height: 1.5;
        padding: 12px 16px;
        transition: all .14s ease-out;
        }
        .ProfilePageComponentButton:hover {
            box-shadow: 4px 4px 0 #000;
            transform: translate(-4px,-4px);
        }
        .ProfilePageComponentButton:focus-visible{
            outline-offset: 1px;
        }

        .ProfilePageComponentGreeting{
            font-weight: 600;
            margin-top: 1em;
            color: #000;    
            font-style: italic;
        }
    


    }

    main{
        margin-left: 2em;
        border-right: 1px solid #454545;
        padding-right: 2em;
        max-width: 34%;


        .ProfilePageh2{
            margin-bottom: .2em;
        }

        .ProfilePageProfileInformation{
            display: flex;
            gap: 4em;
            justify-content: center;

            article{
                
                h5{
                    margin-bottom: 0;
                    margin-left: 1.2em;
                    font-style: italic;
                }

                p{
                    margin-top: .2em;
                    border-radius: .6em;
                    background-color: white;
                    border: 1px solid #000;
                    padding: .3em 2em; 
                }
            }
        }   

        .ProfilePageh3{
            margin-bottom: 0em;
        }

        .ProfilePageh5{
            margin-top: 1em;
            margin-bottom: 0em;
            margin-left: 1.2em;
            font-style: italic;
        }

        .ProfilePagep{
            margin-top: .2em;
            border-radius: .6em;
            background-color: white;
            border: 1px solid #000;
            padding: .3em 2em; 
            margin-bottom: 1.5em;
        }

        .ProfilePageBio{
            max-height: 14%;
            overflow: auto
        }
    }


    .ProfilePageAccountSettings{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: none;
        padding-left: 2em;
        justify-content: center;

        .ProfilePageAccountSettingsSection{
            display: flex;
            align-items: center;
            border-right: none;
            padding-left: 2em;
            justify-content: center;
            gap: 2em;
        }
    }

}


#ProfilePageLinkEdit{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding: .5em 1em;
    border-radius: .3em;
    background-color: #AFDDFF;
    border: 1px solid #000;
    cursor: pointer;
    transition: all .14s ease-out;
}

#ProfilePageLinkDelete:hover, #ProfilePageLinkEdit:hover{
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}

#ProfilePageLinkDelete{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding: .5em 1em;
    border-radius: .3em;
    background-color: #FF033E;
    border: 1px solid #000;
    cursor: pointer;
    transition: all .14s ease-out;
}
