

.ResetPassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #587C9E;
    border-radius: .5em;
    width: 65%;
    justify-self: center;
    color: white;
    padding: 1.2em;
    margin-top: 1em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
}

.ResetPasswordTitle{
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.ResetPasswordDescription{
    font-style: italic;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 2em;
}


#password, #confirmPassword{
    width: 20em;
    height: 2.5em;
    border-radius: .5em;
    border: none;
    padding-left: 1em;
    margin-bottom: 2em;
    background-color: #E6E6FA;
}

.ResetPasswordActions{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-bottom: 2em;
    margin-top: 2em;
    gap: 6em;
}


.ResetPasswordButton, .ResetPasswordLink{
    text-decoration: none;
    border-radius: .3em;
    padding: .6em 1.4em;
    color: white;
    background-color: black;
    border: 1px solid #000;
    cursor: pointer;
    font-size: .9em;
    line-height: 1.5;
    transition: all .2s ease-out;
}

.ResetPasswordButton:hover, .ResetPasswordLink:hover {
    box-shadow: 4px 4px 0 #587C9E;
    transform: translateY(-4px);
}

.ResetPasswordEyeFirst, .ResetPasswordEyeSecond{
    position: absolute;
    width: 1.7em;
    cursor: pointer;
    transition: all .30s ease-in-out;
}

.ResetPasswordEyeFirst:hover, .ResetPasswordEyeSecond:hover{
    transform: scale(1.1);
}

.ResetPasswordEyeFirst{
    right: 20.8em;
    top: 9.7em;
}

.ResetPasswordEyeSecond{
    right: 20.8em;
    top: 13.55em;
}


.ResetPasswordError{
    margin: 1em;
    margin-bottom: 2em;
    color: red;
    font-size: .8em;
    margin: 0;
    padding: 0;
    font-weight: 600;
    margin-bottom: 1.5em;
}

.ResetPasswordEyeSecondError{
    position: absolute;
    width: 1.7em;
    cursor: pointer;
    transition: all .30s ease-in-out;
    right: 20.8em;
    top: 14.7em;
}

.ResetPasswordEyeSecondError:hover{
    transform: scale(1.1);
}


#passwordError, #confirmPasswordError{
    width: 20em;
    height: 2.5em;
    border-radius: .5em;
    border: none;
    padding-left: 1em;
    margin-bottom: .8em;
    background-color: #E6E6FA;
}